<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-grey-text text-lighten-2">P2P Pay it Forward</h1>
      <div class="row center">
        <h5 class="header col s12 light">This is the way to create your own Local economy</h5>
      </div>
      <div class="row center">
        <a id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1" ui-sref="campaign">Browse Campaigns</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="../../images/local.jpeg" alt="localBusiness"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Join the community</h5>

          <p class="light">This is more text</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Invest in your neighbor for a sustainable economy </h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Pay it Forward</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">More text</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img ng-src="" alt=""></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
  </div>
</div>






<!-- <div class="row">
<div>
NavBar
</div>

</div>

<div class="row" class-align="end center" style="height: 500px">

Local donations for helping locals push their small business along!
<div class="col s6">
<div style="height: 33%;" >
Set one up yourself
<br>
<a class="waves-effect waves-light btn" ng-click="$mdOpenMenu()">Learn More</a>
</div>
<div style="height: 33%;">
Campaign
<br>
<a class="waves-effect waves-light btn" ng-click="$mdOpenMenu()">Browse</a>
</div>
</div>
</div>

<div class="row" style="height:100px; background-color:#b0c4de;">
This is more content and information about how many people have donated
</div>
<md-divider></md-divider>

<div class="row" style="height:250px; background-color:#dcdcdc;">
<div>
categories
</div>
<div>
preview scrolling of all the categories
</div>


<div layout="row" style="height:200px; background-color:#b0c4de;">
  <h3>1. Plan</h3>
  <h3>2. Create</h3>
  <h3>3. Promote</h3>
  <h3>4. Success</h3>
  <h5>Info about lending here</h5>
  <h5>Benefits:</h5>
  <h6>-customization</h6>
  <h6>-local</h6>
  <md-button class="md-raised">Create New Campaign</md-button>
</div>


<div class="row" style="height:200px; background-color:#b0c4de;">
<h3>1. Plan</h3>
<h3>2. Create</h3>
<h3>3. Promote</h3>
<h3>4. Success</h3>
<h5>Info about lending here</h5>
<h5>Benefits:</h5>
<h6>-customization</h6>
<h6>-local</h6>
<a class="waves-effect waves-light btn">Create New Campaign</a>
</div> -->
