/*div {
  border: solid black 1px;
}*/
/*style="background-image:url(../images/littleStores.jpeg);
background-size:contain;
background-repeat: no-repeat; height:400px"*/


.main {
    position: relative;
    overflow: hidden;
}

.main:: after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./images/littleStores.jpeg);
  width: 100%;
  height: 100%;
  opacity : 0.2;
  z-index: -1;
}
