<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class=" center header grey-text text-darken-3" style="font-weight:700">THE LOCAL ADDITION PROJECT</h1>
      <div class="row center">
        <h5 class="header col s12 light">Pay it forward and, create your own Local Economy</h5>
      </div>
      <div class="row center">
        <a id="download-button" class="btn-large waves-effect waves-light blue white-text" ui-sref="campaign">Browse Campaigns</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="../../images/longSmall.png" alt="localBusiness" style="display:block; opacity: 0.2; "></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center grey-text text-darken-3"><i class="material-icons">face</i></h2>
          <h5 class="center">Join the community</h5>
          <p class="light">{{home.info2}}t</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center grey-text text-darken-3"><i class="material-icons">attach_money</i></h2>
          <h5 class="center">Invest in your neighbor for a sustainable economy </h5>
          <p class="light">{{home.info1}}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center grey-text text-darken-3"><i class="material-icons">repeat</i></h2>
          <h5 class="center">Pay it Forward</h5>

          <p class="dark">{{home.info3}}</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="center col s12 light">How nice of you to help!</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../images/largeBackground.jpg" alt="local img" style="display:block; opacity: 0.2;"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send grey-text text-darken-3"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
  </div>
</div>
