<div layout="row" flex>
  <div>
    NavBar
  </div>

</div>

<div layout="row" layout-align="end center" style="height: 500px">

  Local donations for helping locals push their small business along!
  <div layout="column">
    <div flex=20 style="height: 33%;" >
      Set one up yourself
      <br>
        <md-button class="md-raised" ng-click="$mdOpenMenu()">Learn More</md-button>
    </div>
    <div flex=20 style="height: 33%;">
      Campaign
      <br>
        <md-button class="md-raised" ng-click="$mdOpenMenu()">Browse</md-button>
    </div>
  </div>
</div>

<div layout="row" style="height:100px; background-color:#b0c4de;">
  This is more content and information about how many people have donated
</div>
<md-divider></md-divider>

<div layout="row" style="height:250px; background-color:#dcdcdc;">
  <div flex="33">
    categories
  </div>
  <div flex="66">
    preview scrolling of all the categories
  </div>

</div>


<div layout="row" style="height:200px; background-color:#b0c4de;">
  <h3>1. Plan</h3>
  <h3>2. Create</h3>
  <h3>3. Promote</h3>
  <h3>4. Success</h3>
  <h5>Info about lending here</h5>
  <h5>Benefits:</h5>
  <h6>-customization</h6>
  <h6>-local</h6>
  <md-button class="md-raised">Create New Campaign</md-button>
</div>
