<div class="container">
  <div class="row" style="margin-top:5%">
    <div class="col l8">
      <h5>{{campaignDetail.company_name}}</h5>
    </div>
    <div class="col l4">
      <div class="chip">{{campaignDetail.category}}</div>
      <div class="chip">{{campaignDetail.neighborhood}}</div>
    </div>
    <div class="row">
      <div class="col l8" >
        <div style="height:300px; max-width: 500px;"><img src="{{campaignDetail.img_url}}" alt="" style="max-height:100%; max-width:100%" /></div>
      </div>
      <div class="col l4">
        <ul class="collection with-header">
          <li class="collection-header"><h4>{{campaignDetail.amtPledged}} Pledged</h4></li>
          <li class="collection-item"><div>14 Days Left!</div></li>
          <li class="collection-item"><div>{{campaignDetail.backerCount}} Backers</div></li>
          <li class="collection-item"><div class="progress"><div class="determinate" style="width: 70%"></div></div></li>
        </ul>
        <div class="row">
          <form class="" method="post">
            <div class="col l6">
              <input id="amount" ng-model="userCharge" type="number" class="validate" placeholder="10">
              <label for="amount">$ Pledge Amount</label>
            </div>
            <div class="col l6">
              <a class="waves-effect orange btn-flat" ng-click="campaignDetail.createUserCharge(userCharge)" style="height:100%">Support</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="item in campaignDetail.info track by $index" >
    <h5 style="text-transform:uppercase;">{{item.title}}</h5>
    <p class="flow-text">
      {{item.details}}
    </p>
  </div>
</div>
