<div class="container" >
  <div class="row" >
    <h4>Post your campaign</h4>
  </div>
  <div class="row" >
    <form class="col s12" method="POST" style="background-color:#eeeeee; ">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">fingerprint</i>
          <input ng-model="profile.proj.company_name" id="companyName" type="text" class="validate">
          <label for="companyName">Business Name</label>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">location_city</i>
          <input ng-model="profile.proj.city" type="text" class="validate">
          <label for="city">City</label>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">place</i>
          <input ng-model="profile.proj.neighborhood" type="text" class="validate">
          <label for="neighborhood">Neighborhood</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">burst_mode</i>
          <textarea ng-model="profile.proj.pitch" class="materialize-textarea validate"></textarea>
          <label for="pitch">2-3 sentences, sell us your business!</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">rate_review</i>
          <textarea ng-model="profile.proj.history" class="materialize-textarea validate"></textarea>
          <label for="history">Tell us about the history of the business. Any recognition or social media shoutouts?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">bubble_chart</i>
          <textarea ng-model="profile.proj.targ_mkt" class="materialize-textarea validate"></textarea>
          <label for="targ_mkt">Who is your target market?</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">compare</i>
          <textarea ng-model="profile.proj.uniq_comp" class="materialize-textarea validate"></textarea>
          <label for="uniq_comp">What makes you unique to your competitors?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">trending_up</i>
          <textarea ng-model="profile.proj.use_of_funds" id="use_of_funds" class="materialize-textarea validate"></textarea>
          <label for="use_of_funds">What are your plans for the funds?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">monetization_on</i>
          <input ng-model="profile.proj.category" id="campaignCategory" type="text" class="validate">
          <label for="campaignCategory">Category</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">monetization_on</i>
          <input ng-model="profile.proj.amt_req" id="campaignAmount" type="number" class="validate">
          <label for="campaignAmount">How much are you raising?</label>
        </div>
        <div class="col s4">
          <a id="newcampaignbtn" class="btn-large waves-effect waves-light blue-grey lighten-1" ng-click="profile.createCampaign()">Submit</a>
        </div>
      </div>
    </form>
  </div>
</div>
