<form class="" action="" method="post">
  <input type="text" name="first_name" value="">first_name</input>
  <input type="text" name="last_name" value="">last_name</input>
  <input type="text" name="address" value="">address</input>
  <input type="text" name="city" value="">city</input>
  <input type="text" name="state" value="">state</input>
  <input type="text" name="phone_num" value="">phone_num</input>
  <input type="text" name="background" value="">background</input>
  <input type="email" name="email" value="">email</input>
  <input type="text" name="pwd" value="">pwd</input>
  <input type="number" name="zip" value="">zip</input>
</form>
