<div class="container">
  <div class="row" style="margin-top:5%">
    <h5 style="text-transform:uppercase;">Hello, {{profile.display_name}}!</h5>
    <div class="divider"></div>
  </div>
  <!-- <div class="row"> -->
    <a ui-sref="campaign">Browse Projects</a>
  <!-- </div> -->
  <div class="row" id="backed">
    <div class="row" ng-show="profile.backedProj">
      <h5>Campaigns you've backed!</h5>
    </div>
    <div class="row">
      <ul class="collection" ng-repeat="backedProj in profile.backedProj" ui-sref="campaignDetail({id: backedProj.id})">
        <li class="collection-item avatar">
          <img src="{{backedProj.img_url}}" alt="" class="circle">
          <span class="companyName">{{backedProj.company_name}}</span>
          <p>${{backedProj.amt_pledged}} <br>
            {{backedProj.neighborhood}}
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons"></i>{{backedProj.status}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s9">
      <h5 ng-show="profile.projects.id">Active Campaigns</h5>
      <h5 ng-show="profile.projects">You have no active campaigns</h5>
    </div>
    <div class="col s3">
      <span>Create New Campaign</span>
      <a class="btn-floating btn-small waves-effect waves-light red" ui-sref="newcampaign"><i class="material-icons">create</i></a>
    </div>
  </div>
  <div class="row" ng-show="profile.projects">
    <ul class="collection" ng-repeat="project in profile.projects" ui-sref="campaignDetail({id: project.id})">
      <li class="collection-item avatar">
        <img src="{{project.img_url}}" alt="" class="circle">
        <span class="companyName">{{project.company_name}}</span>
        <p>{{project.status}} <br>
          {{project.date_exp}}
        </p>
      </li>
    </ul>
  </div>
</div>
